$color-light: #fff;
$color-dark: #838391;
$color-background: #070724;

$color-hover: #38384F;

$color-merkury: #419EBB;
$color-venus: #EDA249;
$color-earth: #6f2ed6;
$color-mars: #D14C32;
$color-jupiter: #D83A34;
$color-saturn: #CD5120;
$color-uranus: #1ec2a4;
$color-neptune: #2d68f0;

$font-header: 'Antonio', sans-serif;
$font-text: 'Spartan', sans-serif;

$radius: 5px;
$transition: all 0.5s;

