@import '../../../styles/settings.scss'; 

.container {
  padding-top: 2.5rem;
  padding-left: 2.5rem;
  width: 25.5rem;
  border: 1px solid $color-hover;
}

.cardContent {
  margin-top: 25px;
  margin-bottom: 30px;
  font-family: $font-header;
  font-size: 40px;
  letter-spacing: -1.5px;
  color: $color-light;
  text-transform: uppercase;
}